/*FLEX-Template*/

.Demo-container {
 background-color: #519259;
 padding: 0;
 flex-wrap: wrap;
 display: flex;
 border-radius: 10px;
 justify-content: space-between;
 margin: 10px auto;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items {
 background-color: #f0bb62;
 border: 1px solid white;
 border-radius: 10px;
 height: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
 min-width: 5rem;
}

.item1,
.item11 {
 flex-basis: 70%;
}
.item2 {
 flex-basis: 30%;
}
.item3 {
 flex-basis: 20%;
}
.item4 {
 flex-basis: 80%;
}
.item5,
.item6,
.item7,
.item8,
.item9,
.item10 {
 flex-basis: 16.666%;
 gap: 0;
}

.item12,
.item13 {
 flex-basis: 15%;
}

.item14,
.item15 {
 align-self: flex-end;
}
#parent {
 background-color: transparent;
 border: none;
 justify-content: flex-start;
}

/*GRID-Template*/
.grid-demo-container {
 padding: 10px;
 overflow: hidden;
 min-height: 15rem;
 background-color: #5584ac;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 display: grid;

 /*minmax() this is the best approach than media queries as in flex-template case*/
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 place-items: center center;
 grid-gap: 10px;
 align-content: flex-start;
}
.grid-items {
 background-color: #c3b091;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}
.grid-demo-item1 {
 grid-column-start: 1;
 grid-column-end: -1;
}

/*CREATIVE CARD ANIMATION*/

.Demo-container2 {
 height: 50vh;
 border-radius: 20px;
 margin: 20px auto;
}

.demo-wrapper {
 position: relative;
 background-color: #fff;
 border-radius: 20px;
 width: 18.75em;
 height: 25em;
 /*IMPORTANT to set preserve-3d below and distance between user and z plane*/
 transform-style: preserve-3d;
 transform: perspective(1000px);
 transition: 1s;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.demo-wrapper .imgBox {
 position: relative;
 width: 100%;
 height: 100%;
 z-index: 1;
 transform-origin: left;
 transform-style: preserve-3d;
 transition: 1s;
 background: rgb(168, 168, 168);
 border-radius: 20px;
}

.demo-wrapper .imgBox img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 transform-style: preserve-3d;
 backface-visibility: hidden;
 border-radius: 20px;
}

.demo-wrapper .imgBox img:nth-child(2) {
 transform: rotateY(180deg);
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*ANIMATION HOVER MAGIC*/
.demo-wrapper:hover {
 transform: translateX(50%);
}
.demo-wrapper:hover .imgBox {
 transform: rotateY(-180deg);
}

.details {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 20px;
}

.content {
 flex-direction: column;
}

.content h2 {
 text-align: center;
 font: 700;
 line-height: 1em;
}
.content span {
 color: var(--light-color);
 font-size: 0.8em;
}
.social-icons {
 position: relative;
 display: flex;
 margin-top: 10px;
}
.social-icons a {
 display: inline-block;
 width: 35px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.2s;
}
.social-icons a:hover {
 background: #f2ddc1;
 border-radius: 20px;
}

@media (max-width: 768px) {
 .items {
  flex-basis: 100%;
 }
}

.last-wrap {
 width: 100%;
 display: flex;
 justify-content: space-between;
}
