/*FLEX-Template*/

.Demo-container {
 background-color: #519259;
 padding: 0;
 flex-wrap: wrap;
 display: flex;
 border-radius: 10px;
 justify-content: space-between;
 margin: 10px auto;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items {
 background-color: #f0bb62;
 border: 1px solid white;
 border-radius: 10px;
 height: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
 min-width: 5rem;
}

.item1,
.item11 {
 flex-basis: 70%;
}
.item2 {
 flex-basis: 30%;
}
.item3 {
 flex-basis: 20%;
}
.item4 {
 flex-basis: 80%;
}
.item5,
.item6,
.item7,
.item8,
.item9,
.item10 {
 flex-basis: 16.666%;
 gap: 0;
}

.item12,
.item13 {
 flex-basis: 15%;
}

.item14,
.item15 {
 align-self: flex-end;
}
#parent {
 background-color: transparent;
 border: none;
 justify-content: flex-start;
}

/*GRID-Template*/
.grid-demo-container {
 padding: 10px;
 overflow: hidden;
 min-height: 15rem;
 background-color: #5584ac;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 display: grid;

 /*minmax() this is the best approach than media queries as in flex-template case*/
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 place-items: center center;
 grid-gap: 10px;
 align-content: flex-start;
}
.grid-items {
 background-color: #c3b091;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}
.grid-demo-item1 {
 grid-column-start: 1;
 grid-column-end: -1;
}

.Demo-container2 {
 min-height: 50vh;
 border-radius: 20px;
 margin: 20px auto;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 place-items: center center;
 row-gap: 20px;
}

@media (max-width: 768px) {
 .items {
  flex-basis: 100%;
 }
}

.last-wrap {
 width: 100%;
 display: flex;
 justify-content: space-between;
}
