.showcase {
 height: 400px;
 position: relative;
}
.clip-path-shadow-wrapper {
 filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}
/* .showcase::before,
.showcase::after {
 content: '';
 position: absolute;
 height: 100px;
 bottom: -70px;
 right: 0;
 left: 0;
 background: white;
 transform: skewY(-3deg);
} */
.showcase .grid {
 overflow: visible;
 grid-template-columns: repeat(2, 1fr);
}

.showcase form {
 position: relative;
 height: 250px;
 width: 400px;
 /* padding: 40px; */
 z-index: 100;
 /*justify-self align in self container*/
 /* justify-self: flex-start; */
}

.showcase-form .form-control {
 margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
 border: 0;
 border-bottom: 1px solid var(--border-color);
 width: 100%;
 padding: 3px;
 font-size: 16px;
}

.showcase-form input:focus {
 outline: none;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
  rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.showcase h1 {
 font-size: 40px;
}
.showcase h1::first-letter {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 80px;
 font-weight: 900;
}

.background-clip-text {
 background-image: url('../../assets/images/light-sky.jpg');
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 50px;
 font-weight: 900;
 background-clip: text;
 color: transparent;
}

@media (max-width: 768px) {
 .showcase .grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
 }

 .showcase {
  height: auto;
 }
 .showcase-text {
  text-align: center;
  margin-top: 40px;
 }
 .showcase-form {
  justify-self: center;
  margin: auto;
 }
}

@media (max-width: 500px) {
 .showcase form {
  width: 80%;
  margin: auto;
 }
}
